[submodule "scripting/gems/merb"]
	path = scripting/gems/merb
	url = git://github.com/wycats/merb.git
[submodule "scripting/rails/vendor/rails"]
	path = scripting/rails/vendor/rails
	url = git://github.com/rails/rails.git
[submodule "rails"]
	path = rails
	url = git@github.com:mnutt/limewire-remote.git
[submodule "remote/vendor/sinatra"]
	path = remote/vendor/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "remote/vendor/gems/json"]
	path = remote/vendor/gems/json
	url = git://github.com/genki/json.git
