<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>LimeWire</string>
	<key>CFBundleIconFile</key>
	<string>LimeWire.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.limegroup.gnutella</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LimeWire</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.9</string>
	<key>CFBundleSignature</key>
	<string>LIME</string>
	<key>CFBundleVersion</key>
	<string>LimeWire 5.0.9</string>
        <key>CFBundleURLTypes</key>
        <array>
                <dict>
                        <key>CFBundleURLName</key>
                        <string>Magnet</string>
                        <key>CFBundleURLSchemes</key>
                        <array>
                                <string>magnet</string>
                        </array>
                        <key>CFBundleURLIconFile</key>
                        <string>LimeWire.icns</string>
                </dict>
        </array>
	<key>CFBundleDocumentTypes</key>
        <array>
                <dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>pmf</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>Packaged Media File</string>
                        <key>CFBundleTypeRole</key>
                        <string>Viewer</string>
                        <key>CFBundleTypeIconFile</key>
                        <string>pmf.icns</string>
                </dict>
                <dict>
                        <key>CFBundleTypeExtensions</key>
                        <array>
                                <string>torrent</string>
                        </array>
                                <key>CFBundleTypeMIMETypes</key>
                        <array>
                                <string>application/x-bittorrent</string>
                        </array>
                        <key>CFBundleTypeName</key>
                        <string>BitTorrent Metainfo</string>
                        <key>CFBundleTypeRole</key>
                        <string>Editor</string>
                        <key>CFBundleTypeIconFile</key>
                        <string>torrent.icns</string>
                </dict>
        </array>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>$JAVAROOT/launch-mac.jar:/System/Library/Java</string>
		<key>MainClass</key>
		<string>org.limewire.ui.swing.Main</string>
		<key>JVMVersion</key>
		<string>1.6</string>
		<key>Properties</key>
		<dict>
			<key>apple.laf.useScreenMenuBar</key>
			<string>true</string>
			<key>java.net.preferIPv4Stack</key>
			<string>true</string>
            <key>org.apache.commons.logging.Log</key>
            <string>org.apache.commons.logging.impl.NoOpLog</string>
            <key>java.endorsed.dirs</key>
            <string></string>            
            <key>java.library.path</key>
            <string>$APP_PACKAGE/Contents/Resources/Java</string>
		</dict>
		<key>VMOptions</key>
		<array>
			<string>-ea:com.limegroup...</string>
			<string>-ea:org.limewire...</string>
			<string>-Xmx512M</string>
			<string>-XX:MaxPermSize=256M</string>
		</array>
		<key>WorkingDirectory</key>
		<string>$APP_PACKAGE/Contents/Resources/Java</string>
	</dict>
</dict>
</plist>
