<?xml version="1.0" encoding="UTF-8" ?>
<playlist version="0" xmlns="http://xspf.org/ns/0/">
  <title>LimeWire Playlist</title>
  <annotation>14 songs from the official <a href="http://subpop.com/media/">Subpop Records</a> free downloads page</annotation>
  <creator>LimeWire 5.0alpha</creator>
  <info>http://www.limewire.com</info>
  <location>/script/playlist.xspf</location>
  <trackList>
    <% @files.each do |file| %>
      <track>
	<location>/file/<%= file.sHA1Urn.to_s %></location>
	<meta rel="type">mp3</meta>
	<creator><%= HTMLEntities.new.encode(file.metadata.artist) %></creator>
	<title><%= HTMLEntities.new.encode(file.metadata.title) %></title>
	<duration><%= file.metadata.length %></duration>
	<info>http://opentape.fm/mixtape/</info>
      </track>
    <% end %>
  </trackList>
</playlist>
