<ul title="Search Results" id="results">
  <div id="loading">
    <img src="/images/loading.gif" style="display: block; margin: 10px auto;"/>
    <div style="text-align: center;">Searching...</div>
  </div>
</ul>
